<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>Airline</label>
  <select name="airline">
    <option value="American">American</option>
    <option value="Southwest">Southwest</option>
    <option value="United">United</option>
</select>
  <label>Airport</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
</select>
  <label>Flight<br></br>No</label>
  <input type="number" name="flightNo">
  <label for="Departure-time">Choose a time for your Departure:</label>
  <input type="datetime-local" name="departs" value="2020-06-04T19:30"
  min="2020-06-04T00:00" max="2020-06-20T00:00">
  <input type="submit" value="Add Flight">
</form>
<%- include('../partials/footer') %>
